@using Electronic_document_management.Models;

@model Electronic_document_management.Models.AuthResult;
@{
    Layout = "_AuthLayout";
    ViewBag.Title = "Login page";
}

<h3>@if(Model != null) @Model.Message?.Msg</h3>
