@using Electronic_document_management.Models;
@using System;
@using System.Security.Claims;

@model IEnumerable<Department>;
@{
    ViewBag.Title = "Groups page";
    Layout = "_Layout";
}
@if (String.Compare(User.FindFirst(ClaimTypes.Role)?.Value, Role.Admin.ToString()) == 0)
{
    <a href="groups/create">Создать</a>
}
<table>
    <caption>Отделы</caption>
    <tr>
        <th>№</th>
        <th>Название</th>
    </tr>
    @{
        int i = 0;
        foreach (var dep in Model)
        {
            <tr>
                <td>@(++i)</td>
                <td><a href="groups/@dep.DepartmentId">@dep.Name</a></td>
            </tr>
        }
    }
</table>