@using Electronic_document_management.ViewModels.Profile;

@model ProfileModel;

@{
    Layout = "_Layout";
    ViewBag.Title = "Setting page";
}

<form method="post">
    <h3>Изменение пароля</h3>
    <h3>Пользователь @Model.User.UserName</h3>
    @if (Model.Msg != null)
    {
        <h3>@Model.Msg</h3>
    }
    <p>
        <label>Старый пароль</label>
        <input type="text" name="oldPassword" required>
    </p>
    <p>
        <label>Новый пароль</label>
        <input type="text" name="newPassword" required>
    </p>
    <p>
        <label>Новый пароль (повторно)</label>
        <input type="text" name="newPasswordRepeat" required>
    </p>
    <p>
        <input type="submit" value="Отправить">
    </p>
</form>