@using Electronic_document_management.Models;

@model User

@{
    Layout = "_Layout";
    ViewBag.Title = "Setting page";
}
<form method="post">
    <h3>Настройки</h3>
    <p>
        <label>Новый логин</label>
        <input type="text" name="userName"></input>
    <p>
        <input type="submit" name="changeUserName" value="Отправить"></input>
    </p>
    </p>
</form>