@using System.Security.Claims

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestWebSite.com | @ViewBag.Title</title>
</head>
<body>
    <div>
        <a href="/">Главная страница</a> 
        | <a href="/profile">Пользователи</a> 
        | <a href="/groups">Отделы</a> 
        @{
            var role = User.FindFirst(ClaimTypes.Role)?.Value;
            if (role != null && (role == "Admin" || role == "HeadOfDepartment"))
            {
                <a> | <a href="/query">Запросы</a> </a>
            }
        }
        | <a href="/profile/@User.FindFirst(ClaimTypes.NameIdentifier)?.Value">@User.FindFirst(ClaimTypes.Name)?.Value</a>
        | <a href="/logout">Выйти</a>
    <div>
        @RenderBody()
    </div>
</body>
</html>